# AuthService

AUTH_SERVICE_PORT=8001
SQLALCHEMY_ECHO=True

JWT_SECRET_KEY="auth"
JWT_ALGORITHM="RS256"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

MAX_REFRESH_TOKEN_PER_USER=5

ROLE_CACHE_TTL_MINUTES=60

AUTH_PRIVATE_KEY=
AUTH_PUBLIC_KEY="LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUFtckEwS0wyVmE3Z0tlTThTZTZDWQo3T1VZbDNJelRIR2VnWU1odVRGUnkvMngvb1NscDhDT1p2bkVKdmtDb05NRUUzK2duVzF5ZWloUVFlbmFYaGpBCkNUdnNxRkV1WUxiQUNPSXlmRGJhd05nUUtUNkM5MHppVjNLakU2UnhrYXNYSTBIVlhURlpHSTNJMDBTZ2QyY04KUExwZmZoQzNvdzY0U1o5NzAvcVJYYnVaOHptaWlkNXFLaE9TL0l2VEVKVjZUTU5USlNLM0k2OHVCeTVsa2l5SwplNm9GMnNkdFQybzlCSkZid1R2bHdDR3c2WjQ4cXBUSmcrS0VWdFVlMWpnTFNNMmNIckxZQUswdEhCNm9OcVlrCkNPREE3WmxiQ1k2K0IwbXVVb1FTa00rTlF3Wll2MU1PeG1zWVRnelJzQ3FFYmNJK1grM3JLMklOSzN5cVRxVGoKVFFJREFRQUIKLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg=="

SMTP_SERVER = "smtp.gmail.com"
SMTP_PORT = 587
EMAIL_ADDRESS = ""
EMAIL_PASSWORD = ""


# Postgres

POSTGRES_PORT=5432
POSTGRES_NAME="auth-postgres"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_SYNC_CONNECTION="postgresql+psycopg2://user:password@auth-postgres:5432/auth-postgres"
POSTGRES_ASYNC_CONNECTION="postgresql+asyncpg://user:password@auth-postgres:5432/auth-postgres"

# Redis

REDIS_DB=0
REDIS_HOST="auth-redis"
REDIS_PORT=6379
REDIS_PASSWORD="redis"