# AuthService

AUTH_SERVICE_PORT=8001
SQLALCHEMY_ECHO=True

JWT_SECRET_KEY="auth"
JWT_ALGORITHM="RS256"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

MAX_REFRESH_TOKEN_PER_USER=5

ROLE_CACHE_TTL_MINUTES=60

JWT_PRIVATE_KEY_BASE64=# Вставить свой
JWT_PUBLIC_KEY_BASE64=# Вставить свой

SMTP_SERVER = "smtp.gmail.com"
SMTP_PORT = 587
EMAIL_ADDRESS = # Вставить свой
EMAIL_PASSWORD = # Вставить свой

# Postgres

POSTGRES_PORT=5432
POSTGRES_NAME="auth-postgres"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_SYNC_CONNECTION="postgresql+psycopg2://user:password@auth-postgres:5432/auth-postgres"
POSTGRES_ASYNC_CONNECTION="postgresql+asyncpg://user:password@auth-postgres:5432/auth-postgres"

# Redis

REDIS_DB=0
REDIS_HOST="auth-redis"
REDIS_PORT=6379
REDIS_PASSWORD="redis"

# DefectService

DEFECTS_SERVICE_PORT=8002

# Minio

DEFECTS_MINIO_API_PORT=9000
DEFECTS_MINIO_CONSOLE_PORT=9001
DEFECTS_MINIO_ROOT_USER=minioadmin
DEFECTS_MINIO_ROOT_PASSWORD=minioadmin123

# Redis
DEFECTS_REDIS_HOST="auth-redis"
DEFECTS_REDIS_PORT=6378

# Postgres

DEFECTS_PBF_FILE_PATH="/app/osm/moscow_oblast.osm.pbf"
DEFECTS_POSTGRES_PORT=5433
DEFECTS_POSTGRES_HOST="defects-postgres"
DEFECTS_POSTGRES_NAME="defects-postgres"
DEFECTS_POSTGRES_USER="user"
DEFECTS_POSTGRES_PASSWORD="password"
DEFECTS_POSTGRES_SYNC_CONNECTION="postgresql+psycopg2://user:password@defects-postgres:5432/defects-postgres"
DEFECTS_POSTGRES_ASYNC_CONNECTION="postgresql+asyncpg://user:password@defects-postgres:5432/defects-postgres"